
@media screen and (max-width: 760px) {



    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        flex-direction: column;
    }

    main .dir {
        margin: 20px auto;
        width: 80%;
    }

    form{
        text-align: center;
    }

    main .esq {
        display: none;
    }

    


    
}
